<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Main</title>
        <link rel="shortcut icon" type="image/png" href="/views/img/favicon.png"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/views/style/styles.css">
    </head>

    <body>
        <div class="container">
            <div class="row text-center">
                <a class="logo" href="/"><img class="img-responsive" src="/views/img/logo.png" alt="logo"></a>
                <a class="button top_btn text-center" href="/reg">REG</a>
                <a class="button top_btn" href="/search">SEARCH</a>

            </div>
        </div>
    </body>
</html>